
: root {
    font-main:'Inter',sans-serif;
    font-heading: 'Poppins' , sans-serif;
    primary-color: #db5c6c;
    secondary-color: #f59e0b;
    text-color: #334155;
    background-color: #ffffff;
    spacing-md: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:var(--font-main) ;
    color: var(--text-color);
    background-color: var(--background-color);
    padding-top: 56px;
    line-height: 1.6;

}
h1, h2, h3, .navbar-brand {
    font-family: 'Poppins' , sans-serif;
    font-weight: 700;
}
.navbar {
    background-color: var(--primary-color);!important;
    border-bottom: none !important;
}
.navbar-brand {
    color: #db5c6c !important;
    font-size: 1.5rem;

}
.nav-link {
    color: var(--text-color); !important;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
/*#hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
/*/*.hero-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#hero {
    height: 90vh; /* Prend 90% de la hauteur de l'écran */
    display: flex;
    align-items: center;
    overflow: hidden;
}